@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css");
body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(47, 47, 47);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: underline;
  color: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
